<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<br />
		
		<form action="login/post" method="POST">
			Username: <input type="text" name="username" id="username" maxlength="20"><br>
			Password: <input type="password" name="password" id="password" maxlength="20"><br>
			<input type="submit" id="submit" value="Login">
		</form>
	</body>
</html>